@page
@model DotNetLabs.Web.Pages.Comments.IndexModel
@{ ViewData["Title"] = "Comments"; }
<h1>Comments</h1>
<p><a asp-page="Create" class="btn btn-primary">Create New Comment</a></p>
<table class="table">
    <thead><tr><th>Id</th><th>TitleId</th><th>UserId</th><th>Text</th><th>Actions</th></tr></thead>
    <tbody>
@if (Model.Comments != null) {
    @foreach (var item in Model.Comments) {
        <tr>
            <td>@item.Id</td>
            <td>@item.TitleId</td>
            <td>@item.UserId</td>
            <td>@item.Text</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>